

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #fff;
  font-size: 1em;
  color: #000;
}

.content {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.targetButton {
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 45px;
  text-transform: uppercase;
  font-size: 1.1em;
}

.pickUpButton {
  background-color: #000;
  color: #ccc;
}

.pickUpButton:hover {
  background-color: #fff;
}

.addToCartButton {
  background-color: #d33;
  color: #ccc;
}

.addToCartButton:hover {
  background-color: #fff;
}

.small {
  font-size: 0.6em;
}

.medium {
  font-size: 0.75em;
}

.large {
  font-size: 1.25em;
}

.text-item-name {
  font-size: 2em;
  font-weight: 100;
}

.text-item-price {
  font-size: 1.5em;
  font-weight: 300;
}

.zoom-image {
  background: url('./images/zoom.png') no-repeat;
  width: 20px;
  height: 20px;
}

.text-reviews {
   font-weight: 700;
}

.text-review-columns {
   font-weight: 350;
}

.text-review-header {
   font-weight: 700;
}

.text-review {
   font-weight: 200;
}

.carousel-back {
  background: url('./images/back.png') no-repeat;
  width: 20px;
  height: 100px;
}

.carousel-foward {
  background: url('./images/forward.png') no-repeat;
  width: 20px;
  height: 100px;
}

.announce-image {
  background: url('./images/red.png') no-repeat;
  text-align: left;
  vertical-align: middle;
}

.announce {
  margin-left: 35px;
  color: #f00;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
